* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggleBody {
    width: 5%;
    height: 5%;
    /*display: grid;*/
    place-items: center;
    background: #001122;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

    input[type="checkbox"]::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    input[type="checkbox"]:checked::before {
        transform: translateX(100%);
        background: #fff;
    }

    input[type="checkbox"]:checked {
        background: #00ed64;
    }
